body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1.5fr 8.5fr;
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

.header {
    grid-column: 2 / 3;
    display: grid;
    align-items: center;
    background-color: #FFF2D7;
    padding: 15px 35px;
    height: auto;
}

.top {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    gap: 2rem;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    img {
        height: 2rem;
    }
    .user {
        height: 3rem;
    }
}

#searchbar {
    background-color: #e6e6e6f6;
    border-radius: 30px;
    border: none;
    height: 2.3rem;
    max-width: 85%;
    padding-left: 15px;
    font-family: "Roboto";
}

.bottom {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.uinfo {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    img {
        height: 4.5rem;
    }
    p {
        margin: 0;
    }
}

.greet {
    font-size: 1rem;
}

.action {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    button {
        background-color: #e47b5b;
        color: white;
        border: none;
        border-radius: 25px;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 5px 30px;
    }
}

.sidebar {
    grid-row: 1 / 5;
    background-color: #e47b5b;
    padding: 25px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-content: start;
    gap: 1em;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.sidebar img {
    place-self: center;
}

.sidebar img {
    height: 1.7rem;
    filter: invert(100%) sepia(81%) saturate(5%) hue-rotate(107deg) brightness(103%) contrast(101%);;
}

#dashboard {
    font-size: 2rem;
    align-self: center;
}

#dashicon {
    height: 3rem;
}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: #e6e6e6f6;
}

.trending {
    grid-column: 2 / 3;
}

.projects {
    grid-row: 1 / 3;
}