body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 3;
    background-color: #FFF2D7;
}

.sidebar {
    grid-row: 1 / 5;
    background-color: #e47b5b;
    padding: 25px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-content: start;
    gap: 1em;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.sidebar img {
    place-self: center;
}

.sidebar img {
    height: 1.7rem;
    filter: invert(100%) sepia(81%) saturate(5%) hue-rotate(107deg) brightness(103%) contrast(101%);;
}

#dashboard {
    font-size: 2rem;
    align-self: center;
}

#dashicon {
    height: 3rem;
}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: #e6e6e6f6;
}

.trending {
    grid-column: 2 / 3;
}

.projects {
    grid-row: 1 / 3;
}